<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Portfolio</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<script>
  window.onload = function() {
      window.scrollTo(0, 0); 
  };
</script>


<body>
  <nav id="desktop-nav">
    <div class="logo"><h1 class="title">{{ profiles.name }}</h1></div>
    <div>
      <ul class="nav-links">
        <li><a href="#about">About</a></li>
        <li><a href="#experience">Skills</a></li>
        <li><a href="#projects">Portfolio</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </nav>
  <section id="profile">
    <div class="section__pic-container">
      {% if profiles.image %}
        <img src="{{ profiles.image.url }}" alt="Profile Image" class="profile-img" />
      {% else %}
        <img src="{% static 'assets/default-profile.jpg' %}" alt="Default Profile Image" class="profile-img" />
      {% endif %}
    </div>    
    <div class="section__text">
        <p class="section__text__p1">Hello, I'm</p>
        <h1 class="title">{{ profiles.name }}</h1>
        <p class="section__text__p2">{{ profiles.title }}</p>
    </div>
  </section>

  <section id="about">
    <p class="section__text__p1">Get To Know More</p>
    <h1 class="title">About Me</h1>
    <div class="section-container">
      <div class="about-details-container">
        <div class="about-containers">
          {% for detail in about_details %}
          <div class="details-container">
            <h3>{{ detail.title }}</h3>
            <p>{{ detail.description }}</p>
          </div>
          {% endfor %}
        </div>
        <div class="text-container">
          <p>
            {{ about_me.introduction }}
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="experience">
    <p class="section__text__p1">Explore My</p>
      <h1 class="title">Skills</h1>
        <div class="experience-details-container">
        <!-- Frontend Skills -->
          <div class="details-container">
            <h2 class="experience-sub-title">Frontend Development</h2>
            <div class="article-container">
              {% for skill in frontend_skills %}
                  <article>
                      <div>
                          <h3>{{ skill.name }}</h3>
                          <p>{{ skill.level }}</p>
                      </div>
                  </article>
              {% empty %}
                  <p>No frontend skills available.</p>
              {% endfor %}
            </div>
      </div>

      <!-- Backend Skills -->
      <div class="details-container">
          <h2 class="experience-sub-title">Backend Development</h2>
          <div class="article-container">
              {% for skill in backend_skills %}
                  <article>
                      <div>
                          <h3>{{ skill.name }}</h3>
                          <p>{{ skill.level }}</p>
                      </div>
                  </article>
              {% empty %}
                  <p>No backend skills available.</p>
              {% endfor %}
          </div>
      </div>
    </div>
  </section>

  <footer>
    <nav>
      <div="nav-links-container">
        <ul class="nav-links">
          <li><a href="#about">About</a></li>
          <li><a href="#experience">Skills</a></li>
          <li><a href="#projects">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div=>
  </footer>

</body>
</html>
